<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Food Panda</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="searchString" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" [disabled]="!searchString.trim().length" (click)="search()">Search</button>&nbsp;&nbsp;&nbsp;
      <select class="form-control mr-sm-2" (change)="citySelected($event.target.value)" >
        <option selected value="bangalore">Bangalore</option>
        <option *ngFor="let city of citiesList" [value]="city.name" [selected]="city.name==Bengaluru">{{city.name}}</option>
      </select>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
