<div class="container" *ngIf="restaurantDetails">
    <div class="text-center">
        <p>Restaurant</p>
        <h1>{{restaurantDetails.name}}</h1>
    </div><hr>
    <div class="row">
        <div class="col-md-4" >
            <div class="card" style="border-style:solid; border-width: 2px; border-color: rgb(11, 114, 139);">
                <img class="card-img-top" [src]="restaurantDetails.thumb||default_image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-text"><strong>Timings:</strong> <span>{{restaurantDetails.timings}}</span></h5>
                    <p class="card-text"> <strong>Ratting:</strong> <span> <ngb-rating [rate]="restaurantDetails.user_rating?.aggregate_rating" max="5" readonly=true></ngb-rating>&nbsp;&nbsp; ({{restaurantDetails.user_rating?.rating_text}})</span></p>
                    <p class="card-text"> <strong>Address: </strong><span>{{restaurantDetails.location?.address}}</span></p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-8" >

            <div class="row" *ngIf="dailyMenuItems">
                <div class="col-md-12"><h4>Daily Menu</h4></div>
                <div class="col-md-4 card" *ngFor="let item of dailyMenuItems[0].dishes.slice(0,6)">
                    <h6>{{item.name}}</h6>
                    <hr>
                    <p>price: {{item.price}}</p>
                </div>
            </div>
            <div  class="row" *ngIf="!dailyMenuItems"> 
                <div class="col-md-12"><h4>Daily Menu</h4><p> not available right now.</p></div>
                
            </div>
            <hr>
            <div class="row" *ngIf="reviews">
                <div class="col-md-8"><h4>Reviews</h4></div>
                

                <div class="col-md-4"><span>Total reviews: {{reviews.reviews_count}}</span></div>
                <div class="col-md-12 card" *ngFor="let item of reviews.user_reviews?.slice(0,5)" >
                   <!-- <div class="row"> -->
                    <ngb-rating [rate]="item.review.rating" max="5" readonly=true></ngb-rating>&nbsp;&nbsp;
                    <span >  {{item.review.review_time_friendly}}</span><hr>
                   <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="pacman"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>